body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #B5925C;
    font-family: 'Franklin Gothic Medium', Arial Narrow, Arial, sans-serif;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.5%;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

.contactpage   {
    display: flex;
    max-width: 100%;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

textarea {
    width: 25%;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
}

a {
    text-decoration: none;
    color: #b5925c;
}

.name, .email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 27%;
    border: none;
    margin-top: 3%;
}

.submit {
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    width: 13%;
    position: absolute;
    left: 0%;
    top: 1%;
    height: auto;
}

.contactpage {
    display: flex;
    align-items: center;
}